@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/cityProcessingHub.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Processing Cities</h1>
</div>

<div id="cityProcessingInfo">

</div>
